Visualisation/Registration-Mosaic/__pycache__/
Visualisation/Registration-Mosaic/sample_data/images/vis/
Visualisation/Segmentation/sample_data/images/vis/
FetReg-registration-docker-example/images/output/
FetReg-segmentation-docker-example/images/output/
